body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.component-container {
  align-items: center;
  justify-content: center;
  color: white;  
}

#about {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1); /* #512b58;*/
}

.about-background {
  background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title {
  font-size: calc(40px + 5vmin);
}

.about-text{
  font-size: 26px;
  margin: auto;
  text-align: left;
}

#interest {
  min-height: 60vh;  
  color: black;
}

#interest .card {
  box-shadow: 0 10px 11px 0px rgba(0, 0, 0, 0.25); 
}

.section-title {
  font-size: 32px;
  text-align: left;
  color: rgb(81, 43, 88);
  font-weight: 500;
}

.dark-text {
  color: #343a40;
}

.resume-item-title {
  font-weight: 400px;
}

#education .time {
  color: #999;
  font-size: 14px;
}

.header-part {
  min-height: 20vh;
}

#coming-next {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}